* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(29, 138, 201, 0.77);
}

.nav {
  margin-top: 20px;
}
h2 {
  color: white;
  font-size: 2rem;
}

.nav input{
  margin-top: 20px;
  height: 40px;
  width: 300px;
  font-size: 1rem;
  padding: 0 0 0 10px;
  border-radius: 0.5rem;
  border: 1px solid blue;
  color: white;
  background-color: rgba(128, 128, 128, 0.225);
}
.nav input:hover {
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.458);
}

.nav button{
  margin-top: 20px;
  height: 45px;
  width: 140px;
  font-size: 1rem;
  padding: 0 0 0 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid blue;
  background-color: rgba(127, 255, 212, 0.537);
  transition: 0.5s;
}

.nav button:hover {
  transform: scale(1.03);
}
ul {
  margin-top: 20px;
  margin-left: 20px;
}
li{
  height: 30px;
  width: 300px;
  margin-top: 20px;
  color: white;
}